
    <% provide(:title, "Home") %>
    <div class="center jumbotron">

      <h1>Meet Figaro!</h1>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <blockquote><p>
      Figaro provides a platform that solves the chief issues that makes the barbershop
experience inefficient and antiquated. Figaro merges technological capabilities for the independent
barber and client in order to streamline end-to-end interactions. We enable the barber and client to
leverage mobile payments, seamlessly get services at the time specified by the customer, and provide the
ability for independent barbers to develop profiles that are accessible to the masses. We provide the
ability to locate, compare, review and rate barbering services in a single platform.
    </p></blockquote>
